<!DOCTYPE html>
<html>
<head>
    <title>Signin Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container col p-5">
          <h2>Login</h2>
          {% if messages %}
                    {% for message in messages %}
                        {% if 'login' in message.tags %}
                         <p class="text-danger">{{ message}}</p>
                         {% endif %}
                     {% endfor %}   
                {% endif %}
          <form action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>

</body>
</html>